#ckepop .jtico.jtico_tsina{background:url(../images/weibo.png) no-repeat left top !important;width:10px;height:20px !important;opacity:0.8;}
#ckepop .jtico.jtico_weixin{background:url(../images/weixin.png) no-repeat left top !important;width:10px;height:20px !important;opacity:0.8;}
#ckepop .jtico.jtico_fb{background:url(../images/facebook.png) no-repeat left top !important;width:10px;height:20px !important;opacity:0.8;}
#ckepop .jtico.jtico_twitter{background:url(../images/twitter.png) no-repeat left top !important;width:10px;height:20px !important;opacity:0.8;}
#ckepop .jtico:hover{opacity:1 !important;}
