<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoniu.db.mapper.CmpyIndexNewsMapper">
  <resultMap id="BaseResultMap" type="com.xiaoniu.db.domain.CmpyIndexNews">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="serial_number" jdbcType="INTEGER" property="serialNumber" />
    <result column="lang" jdbcType="INTEGER" property="lang" />
  </resultMap>
</mapper>