<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoniu.db.mapper.CmpyNewsMapper">
  <resultMap id="BaseResultMap" type="com.xiaoniu.db.domain.CmpyNews">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="banner" jdbcType="VARCHAR" property="banner" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="click_times" jdbcType="INTEGER" property="clickTimes" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="serial_number" jdbcType="INTEGER" property="serialNumber" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>