<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoniu.db.mapper.NewsSearchVOMapper" >
	<resultMap type="com.xiaoniu.db.domain.NewsSearchVO" id="NewsSearchMap">
		<id column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="summary" property="summary"/>
		<result column="valid" property="valid"/>
		<result column="is_top" property="isTop"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="type" property="type"/>
		<result column="click_times" property="clickTimes"/>
		<result column="lang" property="lang"/>
		<result column="banner" jdbcType="VARCHAR" property="banner" />
	</resultMap>
	
	<select id="search" resultMap="NewsSearchMap">
		select 
			id,title, summary, valid, is_top, update_time, type, click_times, lang,banner
		from
		    cmpy_news
		<where>
			valid = 1
			<if test="type != null">
				and type = #{type}
			</if>
			<if test="lang != null">
				and lang = #{lang}
			</if>
			<if test="isTop != null">
				and is_top = #{isTop}
			</if>
			<if test="title != null">
				and title like concat("%",${title},"%")
			</if>
			<if test="summary != null">
				and summary like concat("%",${summary},"%")
			</if>
		</where>
		order by serial_number desc , id desc
		limit #{start},#{limit}
	</select>
	
	<select id="searchTotalCount" resultType="long">
		select 
			count(*)
		from
		    cmpy_news
		<where>
			valid = 1
			<if test="type != null">
				and type = #{type}
			</if>
			<if test="lang != null">
				and lang = #{lang}
			</if>
			<if test="isTop != null">
				and is_top = #{isTop}
			</if>
			<if test="title != null">
				and title like concat("%",${title},"%")
			</if>
			<if test="summary != null">
				and summary like concat("%",${summary},"%")
			</if>
		</where>
	</select>

	<resultMap id="BaseResultMapWithoutContent" type="com.xiaoniu.db.domain.CmpyNews">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="source" jdbcType="VARCHAR" property="source" />
		<result column="banner" jdbcType="VARCHAR" property="banner" />
		<result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="valid" jdbcType="INTEGER" property="valid" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="click_times" jdbcType="INTEGER" property="clickTimes" />
		<result column="summary" jdbcType="VARCHAR" property="summary" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="serial_number" jdbcType="INTEGER" property="serialNumber" />
		<result column="lang" jdbcType="INTEGER" property="lang" />
		<result column="is_top" jdbcType="INTEGER" property="isTop" />
	</resultMap>

	<select id="queryNewsList" resultMap="BaseResultMapWithoutContent">
		select
		id,title, summary, valid, is_top, update_time, type, click_times, lang,source,banner,publish_time,create_time,serial_number
		from
		cmpy_news
		<where>
			<if test="type != null">
				type = #{type}
			</if>
			<if test="lang != null">
				and lang = #{lang}
			</if>
			<if test="isTop != null">
				and is_top = #{isTop}
			</if>
			<if test="title != null and title != ''">
				and title like concat("%",${title},"%")
			</if>
			<if test="summary != null and summary != ''">
				and summary like concat("%",${summary},"%")
			</if>
		</where>
	</select>

</mapper>
